*{
    font-family: Arial, Helvetica, sans-serif;
}

clr{
    clear: both;
}

body{
    color: white;
    background-color: #1F1E26;
}

header{
    
    background-position: center center;
    text-align: center;
    height: 10em;
    max-width: 60em;
    line-height: 10em;
    margin: auto;
}

input{
    -webkit-appearance: none;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: chocolate;
    transition: .3s;
    outline: none;
    cursor: pointer;
}

input::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .3s;
}

input:checked{
    background-color: lightgreen;
}

input:checked::after{
    left: 70%;
}

nav li{
    list-style: none;
    display: inline-block;
    padding: 5em;
    margin: 3em;

    /* image */
    background-position: center center;

    width: fit-content;

    /* text */
    text-align: center;
    line-height: 5em;
}

nav li a{
    text-decoration: none;
}



/*DEFAULT IMAGES*/
#header{background-image: url('/art/images/website_images/architecture/header.png');}

#about{background-image: url('/art/images/website_images/architecture/about.png')}

#months{background-image: url('/art/images/website_images/architecture/months.png')}

#pre-2023{background-image: url('/art/images/website_images/architecture/pre-2023.png')}

#orders{background-image: url('/art/images/website_images/architecture/orders.png')}

#gallery{background-image: url('/art/images/website_images/architecture/gallery.png')}
